doctype html
html
	head
		title Logowanie google
		style
			include style.css
	body
		div.container
			h1 Zaloguj się
			p Aplikacja do logowania się konten googla
			a(href="/auth/google").login Log in with Google