doctype html
html
	head
		title Logowanie google
		style
			include style.css
	body
		div.container
			h1 Witaj zalogowany użytkowniku
			a(href="http://thecatapi.com")
				img(src="http://thecatapi.com/api/images/get?format=src&type=gif")