body {
	background-color: #607d8b;
	text-align: center;
	color: #bbbbbb;
	font-size: 46px;
	padding: 50px;
	font-family: cursive;
}
a {
	color: #bbbbbb;
	text-decoration: none;
}
a:hover {
	color: #e0dbdb;
}
.controls-list {
	position: relative;
	font-size: 26px;
	margin-top: 15px;
}
.results {
	margin-top: 0;
}
.results li{
	font-size: 20px;
	list-style-type: none;
}