<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div class="content">
			<h1>Wgraj plik</h1>
			<form action="/upload" enctype="multipart/form-data" method="post">
				<div class="row">
					<label>Tytuł pliku</label>
					<input type="text" name="title">
				</div>
				<div class="row">
					<label>Plik</label>
					<input type="file" name="upload" multiple="multiple">
				</div>
				<div class="row send">
					<input type="submit" name="Wyślij">
				</div>
			</form>
		</div>
	</body>
</html>